.modal-view {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: space-between;
}

.button-group{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.button-group > button{
    margin:15px;
}